.custom-btn {
	border: none;
	background: #f45a36;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	margin: 0.2rem;
	padding: 0.3rem 0.5rem;
	cursor: pointer;

	&.disabled {
		opacity: 0.7;
		pointer-events: none;
	}
}
