@import '../../variables.scss';

.filter-panel {
  margin: 0 2rem;
  width: 25%;

  form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  label {
    margin: 1rem 0;

    .label-text {
      padding: 0.5rem;
      font-weight: bold;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    padding-right: 2rem;

    input {
      margin-left: 0.5rem;
    }
  }
}