.table {
  border-collapse: collapse;
  width: 100%; }
  .table td, .table th {
    border-bottom: 1px solid rgba(121, 114, 114, 0.36);
    font-family: sans-serif;
    padding: 8px;
    text-align: left; }
  .table tr:nth-child(even) {
    background-color: rgba(122, 141, 152, 0.39); }
