.pagination {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  .page-chunk-container,
  .navigation-container {
    display: inline-block;

    a {
      color: black;
      float: left;
      padding: 0.5rem 1rem;
      text-decoration: none;
    }
  }
}
