.content {
  display: flex;
  height: calc(100% - 4rem);
  justify-content: center;
  margin: 2rem; }

.table-container {
  background-color: rgba(221, 221, 221, 0.7);
  flex: 1;
  padding: 2rem; }

.header {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem; }
