@import 'variables.scss';

.content {
  display: flex;
  height: calc(100% - 4rem);
  justify-content: center;
  margin: 5rem 10rem;
}

.table-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  flex: 1;
  padding: 2rem;
}

.header {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}
