html {
  height: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: url('./wallpapper.jpg');
}

.content {
  justify-content: center;
  display: flex;
  margin: 10rem;
}

.table {
  flex: 1;
  padding: 2rem;
  background-color: rgba(221, 221, 221, 0.7);
}

.filter-panel {
  margin: 2rem;
}

.filter-panel form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
}

form label {
  margin: 1rem 0;
}

label .label-text {
  padding: 0.5rem;
}

table {
  font-family: initial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 1px solid rgba(121, 114, 114, 0.36);
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(122, 141, 152, 0.39);
}