.data-table {
  min-height: 400px;

  .table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      font-family: sans-serif;
      padding: 8px;
      text-align: left;
    }
  }

  .data-table-loader {
    margin: auto;
  }
}


